body{
font:12px Times New Roman}

h1{
margin:0;
text-align:center}

h2{
font-size:12px;
font-weight:100;
margin:0;
text-align:right}

table{
text-align:center;
font-size:14px;
width:100%}

hr{color:#000}

p{
font-size:12px;
margin:0 0 0.5em 0;
padding:0;
text-indent:3em}

ul{margin:0 0 0.5em 0}

.list{
font-size:12px;
margin-left:5em;
padding:0}

.list_title{margin:0}

.lefthalf{
width:50%;
text-align:right}

.righthalf{
width:50%;
text-align:left}

.leftquarter{
width:25%;
text-align:right}

.right3quarters{
width:75%;
padding:0;
font-weight:bold;
border-bottom:1px solid #000;
text-align:center}

.left2thirds{
width:66%;
text-align:right}

.rightthird{
width:34%;
text-align:center}

.parameter_table tr:nth-child(odd){background-color:#eee}

.first_third{
font-size:12px;
padding:0;
margin:0;
width:20%;
background-color:#fff;
text-align:right}

.second_third{
font-size:12px;
font-weight:bold;
padding:0;
margin:0;
border-bottom:1px solid #000;
width:46%;
text-align:center}

.leftsign{
width:50%;
text-align:center}

.rightsign{
width:50%;
text-align:center}

.sign_name{padding-bottom:20px}

.door_left{
width:50px;
font-weight:bold;
text-align:right}

.door_right{
width:170px;
font-weight:bold;
text-align:center}

#door_bg{
color:#666;
height:340px;
border:1px solid #000;
position:relative;
letter-spacing:1.1;
background-color:#ccc}

#eye{
font-size:26px;
font-weight:bold;
position:absolute;
right:130px;
top:463px;}

#butt_1,#butt_2{
width:5px;
height:25px;
border:1px solid #000;
position:absolute;
right:60px;
top:466px;
background-color:#666}

#butt_2{top:701px}

.middle_butt{
margin-top:12px;
width:5px;
height:1px;}

#nalichnik{
width:143px;
height:324px;
border:1px solid #000;
border-bottom:none;
position:absolute;
right:63px;
top:437px;}

.leftprice{
font-size:16px;
width:85%;
text-align:right}

.rightprice{
font-size:18px;
font-weight:bold;
width:15%;
text-align:left}